@pageH: 600px;
@textcolor: darken(white, 18%);
@bgcolor: darken(grey, 20%);
.Char () {
    font-size: 9px;
    position: relative;
    top: -2px;
    padding-right: 4px;
    color: rgb(238, 238, 238);
}
.CodeMirror-scroll {
	overflow: auto;
	height: @pageH;
}
#sidebar {
    -webkit-user-select: none;
    float: left;
    width: 170px;
    background-color: @bgcolor;
    color: @textcolor;
    height: @pageH;
    font-family: "SourceSans";
    font-size: 13px;
    border-radius: 4px;
    overflow: scroll;
    ul {
        list-style-type: none;
        padding-left: 20px;
        margin-top: 8px;
        li {
            margin-top: 3px;
            cursor: default;
            text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.7);
        }
        .unsaved {
            margin-left: -11px;
            &:before {
                content: "●";
                .Char;
            }
        }
        .folder {
            &:before {
                content: "▶";
                .Char;
                cursor: pointer;
            }
        }
        .folder.open {
            &:before {
                content: "▼";
                .Char;
                cursor: pointer;
            }
        }
        .open {
            color: lighten(@textcolor, 10%);
            font-weight: 500;
        }
    }
}
header {
    
}